*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

.container {
  display: flex;
  width: 800px;
}

.menu {
  width: 50%;
}

.menu-item {
  padding: 1rem;
}

.goods-list {
  flex-grow: 1;
  overflow-y: scroll;
}

.goods-item {
  display: flex;
  padding: 0.4rem;
  border-bottom: 0.2rem solid #f8f8f8;
}

.goods-info {
  width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}

.goods-desc {
  width: 20%;
  padding: 0.5rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.goods-confirm {
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.goods-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-btns .icon-jianhao {
  display: none;
}

.goods-btns span {
  margin: 0 1.5rem;
  display: none;
}

.goods-item.active .goods-btns .icon-jianhao,
.goods-item.active .goods-btns span {
  display: block;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 800px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #000;
}

.footer-car-container {
  position: relative;
  padding-left: 6rem;
  background-color: #000;
}

.footer-car {
  position: absolute;
  left: 12px;
  top: -20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  background-color: inherit;
}

.iconfont.icon-jiahao {
  color: #4a90e1;
}

.footer-car.active {
  background-color: #4a90e1;
}

.footer-car.active .footer-car-badge {
  display: block;
}

.iconfont.icon-gouwuche {
  font-size: 30px;
}

.footer-car-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #ec5533;
}

.footer-pay {
  width: 250px;
  line-height: 50px;
  text-align: center;
  background-color: #535356;
}

.footer-pay.active {
  background-color: #76d572;
}

.footer-pay a {
  display: none;
}

.footer-pay.active a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.footer-pay.active span {
  display: none;
}

.footer-car.animate {
  animation: footer-car-animate 500ms ease-in-out;
}

@keyframes footer-car-animate {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.add-to-car {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-left: -10px;
  margin-top: -10px;
  /* linear表示横向上匀速运动 */
  transition: 0.6s linear;
}

.add-to-car .iconfont {
  display: block;
  /* cubic-bezier()表示贝塞尔曲线，时间曲线：在某段时间，以如何的快慢方式来完成移动 */
  transition: 0.6s cubic-bezier(0.5, -0.5, 1, 1);
}
